html{
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    color: #676161;
}

body{
    margin: 0;
}

nav{
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.945);
    position: sticky;
    top: 0;
}

.menu_bar{
    list-style-type: none;
    width: 80%;
    margin: auto;
    padding: 0;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    transition: color .1s;
}

li a:hover{
    color: #62f39c;
}

li a:active{
    color: #0071c3;
}

.logo{
    float: left;
    font-weight: 600;
    color: #0071c3;
    padding: 1rem 0 0 0;
}

.menu_item{
    float: right;
    margin-left: 2rem;
    color: #676161;
    padding: 1rem 0 0 0;
}

.main{
    width: 80%;
    margin: auto;
    background-image: url("Computer_pic.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
}

.card{
    display: inline-block;
    background-color: #e5e5e5a9;
    border-radius: 20px;
    margin: 20px 0;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25), -10px -10px 20px rgba(255, 255, 255, 1);
}

.heading{
    font-size: 2.5rem;
    font-weight: 500;
}

.subheading{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1rem;
}

.heading_1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 5.5rem;
    color:  #0071c3;
}

.minor{
    font-size: .8rem;
    font-weight: 400;
    color:  #3a3a3a;
    line-height: 0rem;
}

.projects_card{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: 50px 0;
    color: #444040;
}

.card_text{
    display: inline-block;
    width: 56%;
    padding: 1rem 2%;
}

.card_image{
    float: right;
    width: 40%;
    vertical-align: middle;
    border-radius: 0 20px 20px 0;
}

.left_image{
    border-radius: 20px 0 0 20px;
}

.right_image{
    border-radius: 0 20px 20px 0;
}
 
@media screen and (max-width: 1000px){

}