html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    width: 100%;
}

.banner{
    margin-top: 30px;
    width: 30%;
    margin-left: 35%;
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 3px solid rgb(131, 131, 131);
    z-index: 1;
 }

 a{
     text-decoration: none;
     color: black;
 }

ul{
    margin: 0px;
    list-style: none;
    text-align: center;
}

li{
    margin: 0 2px 0 2px;
    display: inline-block;
    padding: 1em 2em 1em 2em;
    user-select: none;
}

.main{
    background-image: url("images/waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.splash_pic{
    margin-top: 2em;
    width: 80%;
    margin-left: 10%;
}

.icon_area{
    width: fit-content;
    margin: auto;
}

.heading{
    font-size: 6vw;
    text-align: center;
    color: white;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: 1%;
    padding-top: 2em;
}

.icon{
    margin: 30px;
    width: 256px;
    height: 256px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.534);
}

.icon_image{
    border-radius: 50px;
    width: 100%;
}

.icon_text{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    text-align: center;
    height: 40%;
    border-radius: 0px 0px 50px 50px;
    overflow-y: hidden;
}

.small_text{
    font-size: .6em;
    line-height: 1.4em;
    margin: 0.5em 3em 0em 3em;
    font-weight: 300;
}

.icon_link{
    color: white;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: 1%;
}

@media screen and (max-width: 1000px){
    .icon_area{
        width: 60%;
    }
    .icon{
        margin: 30px 0px 30px 0px;
        width: 100%;
        height: 100%;
    }
    .icon_text{
        font-size: 5vw;
        margin: 0px;
    }
    .small_text{
        font-size: .55em;
        margin: .5em 0px 0px 0px;
    }
}

li:hover{
    background-color: rgba(0, 0, 0, 0.055);
}