html{
    font-family: 'Roboto', sans-serif;
    user-select: none;
}


body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background: url("images/waves.svg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0px;
    width: 100%;
    overflow: auto;
}

.banner{
    display: block;
    background-color: white;
    width: 30%;
    padding: 30px 33% 0px 37%;
    z-index: 1;
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 3px solid rgb(131, 131, 131);
    z-index: 1;
 }

 a{
     text-decoration: none;
     color: inherit;
 }

.desktop_menu{
    margin: 0px;
    list-style: none;
    text-align: center;
}

.desktop_li{
    margin: 0 2px 0 2px;
    display: inline-block;
    padding: 1em 2em 1em 2em;
    transition: color .1s, background-color .2s;
}

.main{
    text-align: center;
    padding-bottom: 20%;
}

.splash_area{
    position: relative;
    height: 100%;
    background: url("images/pic5.jpg") center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.splash_pic{
    vertical-align: top;
    width: 100%;
    opacity: 0;
}

.splash_text{
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    font-size: 4vw;
    font-weight: 900;
}

.splash_min_text{
    font-size: 2vw;
    font-weight: 600;
    line-height: 500%;
}

.text_area{
    width: 50%;
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
    font-size: 2em;
    color: rgb(217, 253, 170);
}

.icon_area{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

.heading{
    font-size: 6vw;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration-thickness: 10%;
    padding-top: 2em;
    margin-bottom: 20px;
}

.icon{
    width: 30%;
    display: inline-block;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.534);
    transition: box-shadow .2s;
}

.icon_image{
    width: 100%;
}

.icon_text{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    text-align: center;
    height: 40%;
    overflow-y: hidden;
}

.small_text{
    font-size: .6em;
    line-height: 1.4em;
    margin: 0.5em 1em 0em 1em;
    font-weight: 300;
}

.icon_link{
    color: rgb(217, 253, 170);
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: 1%;
}

.desktop_li:hover{
    background-color: rgba(0, 0, 0, 0.055);
    color: rgb(5, 175, 239);
}

#menuToggle
{
  display: none;
  position: fixed;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
  padding: 14px;
  border-radius: 2px;
}

#menuToggle a
{
  text-decoration: none;
  color: #000000;
  
  transition: color 0.1s;
}

#mobile_link:hover{
    color: rgb(5, 175, 239);
}

#mobile_link:hover .mobile_li{
    background-color: rgba(0, 0, 0, 0.055);    
}

#menuToggle input
{
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    padding-top: 20%;
    opacity: 0%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 80vh;
    background-color: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transition: opacity 1s;
    pointer-events: none;
    margin: 0px;
    border: 0px;
    padding: 20% 0px;
}

#menuToggle input:checked ~ #menu
{
  opacity: 100%;
  pointer-events: all;
}

#menuToggle input:checked ~ .main{
    overflow: hidden;
}

.mobile_li{
    width: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    padding: 40px 0px;
    transition: background-color .2s;
}

iframe{
    margin-top: 2em;
}

.book_now_button{
    background-color: rgb(160, 207, 98);
    padding: 30px 60px;
    border-radius: 15px;
    color: white;
    font-size: 2em;
    font-weight: 700;
    position: fixed;
    bottom: 20px;
    left: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.534);
    transition: background-color .2s, box-shadow .2s;
}

.book_now_button:hover{
    background-color: rgb(5, 175, 239);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.534);
}

.icon:hover{
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.534);
}

@media screen and (max-width: 1000px){
    .banner{
        padding-bottom: 20px;
    }
    .splash_text{
        font-size: 6vw;
        padding-top: 7%;
    }
    .text_area{
        width: 90%;
        font-size: 3vw;
    }
    .icon_area{
        width: 60%;
    }
    .icon{
        margin: 10px 0px 10px 0px;
        width: 100%;
        height: 100%;
    }
    .icon_text{
        font-size: 5vw;
        margin: 0px;
    }
    .small_text{
        font-size: .55em;
        margin: .5em 0px 0px 0px;
    }
    nav{
        display: none;
    }
    #menuToggle{
        display: block;
    }
    .book_now_button{
        font-size: 4vw;
    }
}