html{
    user-select: none;
}
body{
    background-color: blanchedalmond;
    font-size: 26px;
}
.title{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 60px;
}
table{
    text-align: center;
    background-color: coral;
    margin: 40px;
}
td{
    padding-left: 7px;
    padding-right: 7px;
}
.input_box{
    background-color: rgb(255, 203, 166);
    width: 48%;
    display: inline-block;
}
.description{
    font-size: 16px;
    display: inline-block;
    width: 40%;
}
.input_box1{
    background-color: rgb(202, 255, 166);
    width: 48%;
    display: absolute;
    top: 0px;
    right: 0px;
}
input{
    margin-bottom: 20px;
}
input[type='radio']{
    transform: scale(2);
}
@media screen and (max-width: 1500px){
    input[type='checkbox']{
        transform: scale(1.5);
    }
}
.random, .manual{
    width: auto;
}
.c_group{
    display: none;
}
.m_group{
    display: none;
}
.random:checked ~ .c_group{
    display: block;
}
.manual:checked ~ .m_group{
    display: block;
}
.chance{
    width: 10%;
    display: inline-block;
}
.percent{
    display: inline;
}
.start_button_c, .start_button_m{
    display: none;
}